<%- include('./partials/header.ejs') %>

<body>

<div class="ui inverted menu" style="width:100%;height:10%;position: fixed;top: 0;left: 0;z-index: 1;background-color: rgb(23, 26, 49);">
    <a href="/home" class="top item">
      <h2>BlogApp</h2>
      <i class="big blue gripfire icon" style="margin:10px auto;display: block;"></i>  
    </a>
    <a href="/home" class="item">
      <i class="home large icon"></i> <b>Home</b>
    </a>
    <a href="/news" class="item">
      <i class="newspaper large icon"></i> <b>News</b>
    </a>
    <a href="/blogs" class="item">
      <i class="image large icon"></i> <b>Blogs</b>
    </a>
    <div class="right menu">
      <div class="item">
        <div class="ui icon input">
          <input type="text" placeholder="Search...">
          <i class="search link icon"></i>
        </div>
      </div>
      <% if(posts.profile!=null) { %>
        <a href="#" class="ui item">
          <% if(posts.profile.username){ %>
            <%= posts.profile.username %>
          <% } %>
          <% if(posts.profile.displayName){ %>
            <%= posts.profile.displayName %>
          <% } %>
        </a>
      <% } %>
      <a href="/auth/logout" class="ui item">
        Logout
      </a>
    </div>
</div>

<div style="display:inline-flex;width: 100%;margin-top: 6%;">
  
  <div style="width: 45%;">
    <div class="ui segment" style="width: 70%;margin:0 auto;box-shadow: 5px 5px 50px 10px #ccc;border-radius: 10px;">
      <form id="createform" class="ui form" style="width: 100%;" method="POST" action="/blogs">
        <a href="/blogs" class="ui left floated">
          <i class="left arrow large icon"></i>
        </a>
        <h1 class="center" style="text-align: center;">Create Post</h1>
        <!--<div class="ui positive message">
            <div class="header">Could you check something!</div>
            <ul class="list">
            <li>You forgot your <b>first name</b></li>
            </ul>
        </div>-->
        <div class="fields">
            <div class="required field" style="min-width: 100%;">
                <label>Title</label>
                <div class="ui left icon input">
                  <input id="title" type="text" name="title" placeholder="Title of the post" style="background-color: #fff;box-shadow: 0px 0px 10px 0px #ddd" required>
                  <i class="pencil alternate icon"></i>
                </div>
              </div>
        </div>
      
        <div class="field" style="min-width: 100%;">
            <label>Author</label>
            <div class="ui left icon input">
              <input id="author" type="text" name="author" placeholder="Author" style="background-color: #fff;box-shadow: 0px 0px 10px 0px #ddd" required> 
              <i class="user icon"></i>
            </div>       
        </div>
        <div class="field" style="min-width: 100%;">
          <label>Image Link</label>
          <div class="ui left icon input">
            <input id="imagelink" type="text" name="imagelink" placeholder="Image Link" style="background-color: #fff;box-shadow: 0px 0px 10px 0px #ddd" required> 
            <i class="image icon"></i>
          </div>       
        </div>
        <div class="field" style="min-width: 100%;">
            <label>Description</label>
            <textarea id="desp" name="desp" style="background-color: #fff;box-shadow: 0px 0px 10px 0px #ddd;margin-top: 0px; margin-bottom: 0px; height: 112px;min-width: 100%;" required></textarea>
        </div>
        <button class="ui button huge primary" type="submit" onclick="sub()" style="width: 100%;margin:10px auto;text-align: center;border-radius: 30px;">
          Create
          <i class="arrow circle right icon"></i>
        </button>
      </form>
    </div>  
  </div>

  <div style="width:55%;max-height:100%;background-image: url('/img/create2.svg');background-position: 0% -30%;background-repeat: no-repeat;">

  </div>
</div>

<div class="ui basic modal">
  <div class="ui icon header">
    <i class="check circle large green icon"></i>
    Successfully Posted !!
  </div>
  <div class="content">
    <p style="text-align:center;">You have successfully posted the blog at <%= new Date().toLocaleDateString();%></p>
  </div>
  <div class="actions">
    <div class="ui red basic cancel inverted button">
      <i class="remove icon"></i>
      Stay
    </div>
    <div class="ui green ok inverted button">
      <i class="checkmark icon"></i>
      Check All
    </div>
  </div>
</div>

<script type="text/javascript">
    $('.ui.checkbox')
    .checkbox()
    ;
    function sub(event) {
        if($('#title').val()!="" && $('#author').val()!="" && $('#imagelink').val()!="" && $('#desp').val()!="" ){
          form = document.getElementById("createform");
          func2();
        }
        return false;
        //$(this).submit();
      }
    function func2() {

      console.log("Post submission");


      /*let form = document.getElementById("createform");
      form.action = '/blogs';
      form.method = 'POST';*/
      /*$('#createform').submit(function(event) {
        event.preventDefault();
        console.log("SUBBB");
        $(this).submit();
      }); */
      //form.submit();
      //window.stop();
          $('.ui.basic.modal')
            .modal({
              closable  : false,
              onDeny    : function(){
                location.replace("/blogs/new");
                return false;
              },
              onApprove : function() {
                location.replace("/blogs");
              }
            })
            .modal('show')
          ;
          /*$('.ui.basic.modal')
          .modal('show')
        ; */
        
      //window.stop();
        
    }
</script>
<%- include('./partials/footer.ejs') %>